.jumbotron {
    background-color: #185899;
    background-image: url(./images/pngwing.png), url(./images/Alien-PNG-Free-File-Download.png), url(./images/mars2.jpg);
    background-position:left 220px, right 90px, center 0px;
    background-attachment:fixed, fixed, fixed;
    background-size: 640px 391px, 552px 466px, cover;
    background-repeat: no-repeat, no-repeat, no-repeat;
    color: #ffffff;
    padding: 200px 0;
  }
  #totop {
    position: fixed;
    bottom: 40px;
    left: 40px;
    padding: 0px 0 15px 7px;
    width: 50px;
    height: 50px;
    background-color: #185899;
    border-radius: 50%;
    font-size: 37px;
    color: #fff;
    z-index:9999;
    opacity: 0;
}
/* Изменение свойства opacity от 0% до 100% при прокрутке элементов по оси X */ 
.slideanim {
  visibility:hidden;
} 
.slide { 
  animation-name: slide; 
  animation-duration: 1s; 
  visibility: visible; 
} 
@keyframes slide { 
  0% { 
      opacity: 0; 
      transform: translateX(-70%); 
  } 
  100% {
      opacity: 1;
      transform: translateX(0%);
    }
}